body {
    background-color: brown;
}

.gameboardGrid {
    height: 25rem;
    width: 25rem;
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
}

.gameboardGrid div {
    width: 5rem;
    height: 5rem;
    background-color: blue;
}


/* To verify bomb placement */



div.tile {
    background-color: blueviolet;
}

div.mine{
    background-color: rgb(220, 217, 20);
}


div.clickedTile {
    background-color: rgb(20, 220, 37);
}

div.clickedTile.mine {
    background-color: darkred;
}