body {
    background-color: brown;
}

.gameboardGrid {
    height: 25rem;
    width: 25rem;
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
}

.gameboardGrid div {
    width: 5rem;
    height: 5rem;
    background-color: blue;
}


To verify bomb placement

div.bomb {
    background-color: rgb(220, 217, 20);
}

